<div class="bs-callout bs-callout-warning">

    <dl class="dl-horizontal">
        <table class="table table-striped  table-condensed">
        <caption>证件使用情况：</caption>
        <thead>
        <tr>

        <th>证件名称</th>
        <th>借用人</th>
        <th>借用时间</th>
        <th>归还时间</th>
            <th>项目</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>
        {% for certificate_record in certificate_record_list %}
        <tr>

        <td>{{ certificate_record.paper }}</td>
        <td>{{ certificate_record.borrow_people }}</td>
        <td>{{ certificate_record.borrow_date }}</td>
        <td>{{ certificate_record.return_date }}</td>
            <td>{{ certificate_record.use_project }}</td>
            <td>{{ certificate_record.use }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </dl>

</div>