<div class="card border-light">
  <div class="card-header">证件使用情况：</div>
    <div class="card-body pt-0">
        <table class="table">
        <thead>
        <tr>
        <th>借用人</th>
        <th>借用时间</th>
        <th>归还时间</th>
            <th>项目</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>
        {% for certificate_record in certificate_record_list %}
        <tr>
        <td>{{ certificate_record.borrow_people }}</td>
        <td>{{ certificate_record.borrow_date }}</td>
        <td>{{ certificate_record.return_date }}</td>
            <td>{{ certificate_record.use_project }}</td>
            <td>{{ certificate_record.use }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>

</div>
</div>