{% extends 'base_person.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load mptt_tree %}

{% block title %}人力资源{% endblock %}


{% block content %}

<div class="row flex-xl-nowrap">
  <div class="col-12 col-md-4 col-xl-4 bd-sidebar border border-white">
     {% tree_org %}
  </div>

  <div class="col-12 col-md-8 col-xl-8 py-md-3 pl-md-5 bd-content">

      <table class="table table-sm table-hover">
      <thead>
        <tr>

          <th>姓名</th>
        <th>手机</th>
          <th>办公电话（小号）</th>
          <th>QQ</th>
          <th>电子邮箱</th>
            <th>地址</th>
        </tr>
      </thead>
      <tbody>

       {% for contact in object_list %}

        <tr>
          <td><a href="{% url 'persons:detail' contact.person_id %}">{{ contact.person }}</a></td>
            <td>{{ contact.mobile}}</td>
          <td>{{ contact.telephone }} {{ contact.telephone_short}} </td>
          <td>{{ contact.qq }}</td>
            <td> {{ contact.email}}</td>
            <td> {{ contact.address}}</td>
        </tr>


       {% endfor %}

      </tbody>
    </table>
  </div>

</div>

{% endblock %}