<div class="card border-light">
  <div class="card-header">工作经历：</div>
    <div class="card-body pt-0">
                <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>时间：</th>
                          <th>公司</th>
                          <th>项目</th>
                          <th>部门</th>
                          <th>岗位</th>
                        </tr>
                      </thead>
                      <tbody>
                       {% for workrecord in workrecord_list %}
                        <tr>
                            <td> {{ workrecord.job_start_date }} --  {{ workrecord.job_end_date }}</td>
                            <td>{{ workrecord.company }}</td>
                            <td>{{ workrecord.project }}</td>
                            <td>{{ workrecord.department }}</td>
                            <td>{{ workrecord.Post }}</td>
                        </tr>
                       {% endfor %}
                      </tbody>
                </table>

    </div>
  </div>

