<div class="card border-light">
  <div class="card-header">持证情况：</div>
    <div class="card-body pt-0">
       <table class="table table-hover">
        <thead>
        <tr>
        <th>证件名称</th>
        <th>证件类别</th>
        <th>发证时间</th>
        <th>注册时间</th>
        <th>到期时间</th>
        <th>用处</th>
        </tr>
        </thead>

        <tbody>
        {% for certificate in certificate_list %}
        <tr>
        <td><a href="{% url 'persons:certificate_detail' certificate.id %}">{{ certificate.name }}</a></td>
        <td>{{ certificate.type }}</td>
        <td>{{ certificate.issue_date }}</td>
        <td>{{ certificate.reg_date }}</td>
        <td>{{ certificate.expiry_date }}</td>
        <td>使用情况</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
  </div>




