{% extends 'base_person.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}


{% block title %}人力资源{% endblock %}


{% block content %}

<div class="row flex-xl-nowrap">
  <div class="col-12 col-md-4 col-xl-4 bd-sidebar  bg-light border border-white">
   {% include "org_list.html" %}
  </div>

  <div class="col-12 col-md-6 col-xl-6 py-md-3 pl-md-5 bd-content">

      <div class="table-responsive">
              {% for persons in object_list %}
            <li>{{ persons.person }}</li>
        {% endfor %}
          </div>
  </div>

</div>

{% endblock %}