{% extends 'base_person.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}


{% block title %}人力资源{% endblock %}


{% block content %}

<div class="row flex-xl-nowrap">
  <div class="col-12 col-md-4 col-xl-4 bd-sidebar border border-white">
   {% include "org_list.html" %}
  </div>

  <div class="col-12 col-md-6 col-xl-6 py-md-3 pl-md-5 bd-content">

      <ul class="border-left border-secondary">
              {% for person in object_list %}
               <li><a href="{% url 'persons:detail' person.person_id %}">{{ person.person }}</a>{{ person.post }}</li>
        {% endfor %}
          </ul>
  </div>

</div>

{% endblock %}